<div class="wrapper">
    <div class="main">
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <h2 class="title">Transfer SODE<font color="red">X?</font></h2><br/>
                </div>
                <div class="row">
                    <form class="form-inline">

                        <label class="sr-only" for="inlineFormInputGroup">SourceCardNo</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon">Source Card No.:</div>
                            <input type="text" class="form-control" id="sourceCardNo" placeholder="">
                        </div>
                        
                        <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                            <button type="submit" class="btn btn-primary">Lock</button>
                        </div>

                        <label class="sr-only" for="inlineFormInputGroup">SourceBalance</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon">Balance:</div>
                            <input type="text" class="form-control" id="sourceBalance" placeholder="">
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
