<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a routerLink="/">SODE<font color="red">X</font></a></li>
                    <li><a routerLink="/">Blog</a></li>
                    <li><a routerLink="/">Terms of Service</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, SODE<font color="red">X</font>.IO
                </span>
            </div>
        </div>
    </div>
</footer>
